body {
    font-family: Lucida Console;
    font-size: 12px;
}

svg {
  stroke: blue;
  stroke-width: 2;
}


.panel-left {
    width: 200px;
    float: left;
}

.panel-node {
    width: 180px;
    padding: 5px;
    float: left;

}

/*
input, button, textarea, select {
    width: 100%;
    font-family: Lucida Console;
    font-size: 12px;
}
*/

select, button{
    margin: 0;
    height: 25px;
    width: 100%; 
    padding-left: 5px;
    font-family: Lucida Console;
    font-size: 12px;
}

input {
  height: 25px;
  box-sizing: border-box;
  padding-left: 9px;
  font-family: Lucida Console;
  font-size: 12px;
  width: 100%;
}


.checkbox {
    border: 1px solid gray;
    height: 15px;
}


textarea {
  box-sizing: border-box;
  padding-left: 9px;
  width: 100%;
  resize: none;
  font-family: Lucida Console;
  font-size: 12px;
  height:75px
}


.span-red {
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.terminal {
    background-color: black;
    color: white;
    width: 300px;
    height: 200px;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 5px;
    z-index: 100;
}

.rung {
    z-index: -2;
    overflow: hidden;
}


.grid-branch-start {
    height: 80px;
    width: 20px;
    z-index: 1;
    float: left;
/*    background-color: lightgray;*/
}

.grid-branch {
    height: 80px;
    width: 20px;
    z-index: 1;
    float: left;
/*    background-color: lightgray;*/
}

.grid-branch-end {
    height: 80px;
    width: 20px;
    z-index: 1;
    float: left;
/*    background-color: lightgray;*/
}

.grid-branch-start:hover {
    background-color: red;
}

.grid-branch:hover {
    background-color: red;
}

.grid-branch-end:hover {
    background-color: red;
}



.grid-node {
    height: 80px;
    width: 60px;
    z-index: 1;
    float: left;
    background-color: white;
  
}

.grid-node:hover {
    background-color: red;
}

.node {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
 
}

.node-name {
    height: 15px;
    width: 60px;
    text-align: center;
padding-top: 5px;
    background-color: black;
    color: white;
    overflow: hidden;
}

.node-add {
    height: 15px;
    width: 60px;
    padding-top: 5px;
    background-color: lightgray;
}

.node-svg {
    height: 40px;
    width: 60px;
    background-color: white;
}

.note {
    position: absolute;
    background-color: yellow;
    overflow: hidden;
    padding: 5px;
    width: 120px;
    z-index: 2;
}